## Простые типы данных

In [1]:
my_integer = 10
type(my_integer)

int

In [2]:
my_float = 5.5
type(my_float)

float

In [3]:
my_string = 'Hello World!'
my_string_2 = "Hello World"
type(my_string)

str

In [4]:
my_bool = True
my_bool = False
type(my_bool)

bool

In [5]:
x = 5
y = 1
print(type(x > y))

<class 'bool'>

In [6]:
# преобразование типов
salary = 1000
print('Ваша годовая зарплата составляет ' + salary + ' условных единиц')

TypeError: must be str, not int

In [7]:
print('Ваша годовая зарплата составляет ' + str(salary) + ' условных единиц')

Ваша годовая зарплата составляет 1000 условных единиц

In [8]:
# неявное преобразование типов
print(1 + True)
print(20 / 5.1)

2
3.9215686274509807

### Строки

In [9]:
my_string.upper()

'HELLO WORLD!'

In [10]:
my_string.lower()

'hello world!'

In [11]:
my_string.capitalize()

'Hello world!'

In [12]:
my_string.replace('Hello', 'Goodbye')

'Goodbye World!'

In [13]:
len(my_string)

12

In [14]:
# индексация и срезы
my_string = 'Hello World'

In [15]:
my_string[2]

'l'

In [16]:
my_string[-4]

'o'

In [17]:
my_string[0:5]

'Hello'

In [18]:
my_string[0:8:2]

'HloW'

In [19]:
my_string[6:]

'World'

In [20]:
my_string[:5]

'Hello'

In [21]:
my_string[::-1]

'dlroW olleH'

In [22]:
# проверка на вхождение элемента в объект при помощи in (есть обратная операция not in)
target_string = 'Wo'
if target_string in my_string:
    print('find!')

find!

In [23]:
# f-строки
name = 'oleg'
f"Hello, {name.capitalize()}"

'Hello, Oleg'

## Списки

In [24]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [25]:
print(type(month_list))
print(type(income_list))
print(type(income_by_months))

<class 'list'>
<class 'list'>
<class 'list'>

In [26]:
# индексация элементов в списке
print(month_list[0])
print(month_list[-1])
print(income_by_months[-4])

Jan
Sep
['Jun', 13000]

In [27]:
# срезы
print(income_by_months[0:2])
print('--------------')
print(income_by_months[-8:-6])
print('--------------')
print(income_by_months[2:])
print('--------------')
print(income_by_months[:3])

[['Jan', 13000], ['Feb', 14000]]
--------------
[['Feb', 14000], ['Mar', 14300]]
--------------
[['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
--------------
[['Jan', 13000], ['Feb', 14000], ['Mar', 14300]]

In [28]:
# можно обращаться к любому уровню вложенности
income_by_months[0][0]

'Jan'

In [29]:
# изменение списков
income_by_months[0][1] = 13100
print(income_by_months)

[['Jan', 13100], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [30]:
income_by_months[0:2] = [['Jan', 13200], ['Feb', 13900]]
print(income_by_months)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [31]:
income_by_months_2 = [['Nov', 15400], ['Dec', 17000]]
income_by_month = income_by_months + income_by_months_2
print(income_by_month)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300], ['Nov', 15400], ['Dec', 17000]]

In [32]:
# сумма элементов
sum(income_list)

128500

In [33]:
# сортировка по возрастанию
sorted(income_list)

[13000, 13000, 13800, 14000, 14300, 14900, 15000, 15200, 15300]

In [34]:
# изменить порядок сортировки
sorted(income_list, reverse = True)

[15300, 15200, 15000, 14900, 14300, 14000, 13800, 13000, 13000]

In [35]:
# а это сортировка строк по алфавиту
sorted(month_list)

['Apr', 'Aug', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Sep']

### Распаковка списков

In [36]:
first, second, third = ['первый', 'второй', 'третий']
second

'второй'

In [37]:
# когда число элементов неизвестно
first, *other = ['первый', 'второй', 'третий']
first, other

('первый', ['второй', 'третий'])

In [38]:
first, *_, last =  ['первый', 'второй', 'третий', 'четвертый']

In [39]:
first, last

('первый', 'четвертый')

### Операции со списками

In [40]:
# Удаляем элемент по индексу
del(income_by_months[-1])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200]]

In [ ]:
# удаляем элемент по значению
month_list.remove('Jan')
print(month_list)

In [42]:
# добавляем элемент в конец списка
income_by_months.append(['Dec', 17000])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Dec', 17000],
 ['Dec', 17000]]

In [43]:
# добавляем элемент по нужному индексу
income_list.insert(2, 1111111)
print(income_list)

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [44]:
# считаем количество вхождений элемента в список
income_list.count(13000)

2

In [45]:
# узнаем индекс элемента в списка (только первое вхождение!)
income_list.index(13000)

0

In [48]:
# разворачиваем список
month_list.reverse()
month_list

['Sep', 'Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

In [49]:
# узнаем длину списка
len(income_list)

10

## Списки и строки

In [50]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [51]:
# преобразование строки в список (например, из CSV-файла)
queries_string.split(',')

['смотреть сериалы онлайн',
 'новости спорта',
 'афиша кино',
 'курс доллара',
 'сериалы этим летом',
 'курс по питону',
 'сериалы про спорт']

In [52]:
# Преобразование списка в строку

','.join(['Столбец 1', 'Столбец 2', 'Столбец 3'])

'Столбец 1,Столбец 2,Столбец 3'

In [55]:
# проверка вхождения элемента в список:

#'Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']
'Москва' not in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']

False

## Tuple (кортежы)

In [56]:
salary_tuple = (1000, 1200, 1300, 900, 800)
type(salary_tuple)

tuple

In [57]:
print(salary_tuple[0])
salary_tuple[0] = 500

1000

TypeError: 'tuple' object does not support item assignment

In [58]:
# кортеж из одного элемента задается так:
t = ('one', )

In [59]:
# без запятой получится строка
type( ('one') )

str

In [63]:
# функция zip
salaries = [1000, 1200, 1300, 900, 800, 1000]
names = ['Robert', 'Jane', 'Liza', 'Richard', 'John']
salaries_by_names = zip(names, salaries)
#print(salaries_by_names)
print(list(salaries_by_names))

[('Robert', 1000), ('Jane', 1200), ('Liza', 1300), ('Richard', 900), ('John', 800)]

In [ ]:
list = [[0,1][][][]]

## Множества (set)
Набор неповторяющихся элементов в случайном порядке

In [64]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [65]:
# логическое ИЛИ – что нужно знать data-scientst, который по совместительству data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills)

{'Scala', 'SAS', 'R', 'Python', 'Git', 'Hadoop', 'Java', 'SQL', 'Tableau'}
{'Scala', 'SAS', 'R', 'Python', 'Git', 'Hadoop', 'Java', 'SQL', 'Tableau'}

In [66]:
# логическое И – что нужно знать и data-scientst и data-engineer
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills)

{'SQL', 'Python', 'Git'}
{'SQL', 'Python', 'Git'}

In [67]:
# разность множеств – что знает data-scientist, но не знает data-engineer (и наоборот)
print(data_scientist_skills.difference(data_engineer_skills))
print(data_scientist_skills - data_engineer_skills)
print(data_engineer_skills.difference(data_scientist_skills))
print(data_engineer_skills - data_scientist_skills)

{'Tableau', 'SAS', 'R'}
{'Tableau', 'SAS', 'R'}
{'Hadoop', 'Java', 'Scala'}
{'Hadoop', 'Java', 'Scala'}

In [68]:
# симметричная разность множеств – что такого знают data-scientist и data-engineer, чего не знают они оба
print(data_scientist_skills.symmetric_difference(data_engineer_skills))
print(data_scientist_skills ^ data_engineer_skills)
print(data_engineer_skills.symmetric_difference(data_scientist_skills))
print(data_engineer_skills ^ data_scientist_skills)

{'Hadoop', 'Java', 'Scala', 'SAS', 'R', 'Tableau'}
{'Hadoop', 'Java', 'Scala', 'SAS', 'R', 'Tableau'}
{'Hadoop', 'Java', 'Scala', 'SAS', 'R', 'Tableau'}
{'Hadoop', 'Java', 'Scala', 'SAS', 'R', 'Tableau'}

## Словари

In [71]:
staff_salary = {'Robert': 800, 
                'Jane': 2000, 
                'Liza': 1300, 
                'Richard': 800, 
                'Tom': 1100, 
                'Bob': 1300}

In [72]:
# обращение к элементу словаря
staff_salary['Jane']

2000

In [73]:
# добавляем элемент в словарь
staff_salary['Rayan'] = 2000
staff_salary

{'Bob': 1300,
 'Jane': 2000,
 'Liza': 1300,
 'Rayan': 2000,
 'Richard': 800,
 'Robert': 800,
 'Tom': 1100}

In [74]:
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [75]:
staff_dict['Robert']['bonus']

200

In [76]:
# удаляем элемент из словаря
del(staff_salary['Liza'])
staff_salary

{'Bob': 1300,
 'Jane': 2000,
 'Rayan': 2000,
 'Richard': 800,
 'Robert': 800,
 'Tom': 1100}

In [77]:
staff_dict['Oleg']

KeyError: 'Oleg'

In [80]:
# безопасно получаем значение по ключу
staff_dict.get('Oleg', 'Not Found')
#staff_dict.get('Robert', 'Not Found')

'Not Found'

In [81]:
# получаем только ключи/значения из словаря (очень пригодиться в циклах)
print(staff_salary.keys())
print(staff_salary.values())
print(staff_salary.items())

dict_keys(['Robert', 'Jane', 'Richard', 'Tom', 'Bob', 'Rayan'])
dict_values([800, 2000, 800, 1100, 1300, 2000])
dict_items([('Robert', 800), ('Jane', 2000), ('Richard', 800), ('Tom', 1100), ('Bob', 1300), ('Rayan', 2000)])

## Циклы

### Цикл while

In [82]:
x = 5
while x != 0:
    print(x)
    x = x - 1
#     x -= 1

5
4
3
2
1

In [86]:
x = 7
while x != 0:
    if x % 2 == 0:
        print(x, '- четное число')
        x = x - 1
    else:
        print(x, '- нечетное число')
        x = x - 1

7 - нечетное число
6 - четное число
5 - нечетное число
4 - четное число
3 - нечетное число
2 - четное число
1 - нечетное число

### Цикл for

In [87]:
# итерация по строкам
company_name = 'Orange'
for letter in company_name:
    letter = letter.capitalize()
    print(letter)

O
R
A
N
G
E

In [89]:
# итерация по строкам
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]
for company in companies_capitalization:
    print(company[0], 'capitalization is', company[1])

Orange capitalization is 1.3
Maxisoft capitalization is 1.5
Headbook capitalization is 0.8
Nicola capitalization is 2.2

In [91]:
# список списков списков. Список, который состоит из списков в котором есть списки 
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]

In [117]:
for country in countries_temperature:
    print(country) # шаг 1. просто выводим элементы списка
    
    # cel_temp = sum(country[1]) / len(country[1]-32) * 5 / 9
    # print(f'(country[0]) - {round(cel_temp, 2))

['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]]
['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]]
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]]
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]]

In [ ]:
for country in countries_temperature:
    average_temp = 0
    for temperature in country[1]:
        average_temp += (temperature - 32) * 5 / 9
    print(round(average_temp/len(country[1]), 2))

In [113]:
# итерация по словарям
# так бы было без цикла
salaries = {
    'John': 1200,
    'Mary': 500,
    'Steven': 1000,
    'Liza': 1500
}
print("John's salary:", salaries['John'])
print("Mary's salary:", salaries['John'])
print("Steven's salary:", salaries['John'])
print("Liza's salary:", salaries['John'])

John's salary: 1200
Mary's salary: 1200
Steven's salary: 1200
Liza's salary: 1200

In [114]:
# используем цикл
for person, salary in salaries.items():
    print(person, "'s salary: ", salary, sep='')

John's salary: 1200
Mary's salary: 500
Steven's salary: 1000
Liza's salary: 1500

In [118]:
# добавим уровень з/п
for person in salaries:
    status = ''
    if salaries[person] > 1000:
        status = 'above average'
    else:
        status = 'below average'
    print(person, "'s salary: ", salaries[person], ' (', status, ')', sep='')

John's salary: 1200 (above average)
Mary's salary: 500 (below average)
Steven's salary: 1000 (below average)
Liza's salary: 1500 (above average)

In [119]:
# добавим нумерацию
for index, person in enumerate(salaries):
    status = ''
    if salaries[person] > 1000:
        status = 'above average'
    else:
        status = 'below average'
    print(index + 1, '. ', person, "'s salary: ", salaries[person], ' (', status, ')', sep='')

1. John's salary: 1200 (above average)
2. Mary's salary: 500 (below average)
3. Steven's salary: 1000 (below average)
4. Liza's salary: 1500 (above average)

## break, pass, continue

In [120]:
phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [121]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter)
print('finish loop')

6
4
0
К
б
finish loop

In [122]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter)
print('finish loop')

6
4
0
К
б
д
о
л
ж
н
о
х
в
а
т
и
т
ь
д
л
я
л
ю
б
ы
х
з
а
д
а
ч
.
Б
и
л
л
Г
е
й
т
с
(
п
о
л
е
г
е
н
д
е
)
finish loop

In [123]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter)
print('finish loop')

6
4
0
К
б

д
о
л
ж
н
о

х
в
а
т
и
т
ь

д
л
я

л
ю
б
ы
х

з
а
д
а
ч
.

Б
и
л
л

Г
е
й
т
с

(
п
о

л
е
г
е
н
д
е
)
finish loop

### Функция range

In [124]:
range(10) # генерирует последовательность чисел

range(0, 10)

In [125]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [127]:
# с указанием левой и правой границы
for i in range(3, 20):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [128]:
# третий аргумент - шаг
for i in range(3, 20, 5):
    print(i)

3
8
13
18

### Практика

In [129]:
cook_book = {
  'салат': [
     {'ingridient_name': 'сыр', 'quantity': 50, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'огурцы', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'маслины', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'оливковое масло', 'quantity': 20, 'measure': 'мл'},
     {'ingridient_name': 'салат', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'перец', 'quantity': 20, 'measure': 'гр'}
    ],
  'пицца': [
     {'ingridient_name': 'сыр', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'колбаса', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'бекон', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'оливки', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'тесто', 'quantity': 100, 'measure': 'гр'},   
    ],
  'лимонад': [
     {'ingridient_name': 'лимон', 'quantity': 1, 'measure': 'шт'},
     {'ingridient_name': 'вода', 'quantity': 200, 'measure': 'мл'},
     {'ingridient_name': 'сахар', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'лайм', 'quantity': 20, 'measure': 'гр'},    
    ]
}

In [140]:
person_count = 3 # на скольких людей готовить
shop_list = {} # создаем словарь список покупок

for dish in cook_book:
    #print(dish)
    for ingridient in cook_book[dish]:
        #print(ingridient)
        new_shop_list_item = dict(ingridient)
        new_shop_list_item['quantity'] = ingridient['quantity'] * person_count
#        shop_list[new_shop_list_item['ingridient_name']] = new_shop_list_item
#print(shop_list)  
        # если название элемента нет в словаре, записываем, иначе складываем: обращаемся к словарю по элементу кол-во и добавляем значение по ключу количества
        if new_shop_list_item['ingridient_name'] not in shop_list:
            shop_list[new_shop_list_item['ingridient_name']] = new_shop_list_item 
        else:
            shop_list[new_shop_list_item['ingridient_name']]['quantity'] += new_shop_list_item['quantity']  
            
shop_list

{'бекон': {'ingridient_name': 'бекон', 'measure': 'гр', 'quantity': 90},
 'вода': {'ingridient_name': 'вода', 'measure': 'мл', 'quantity': 600},
 'колбаса': {'ingridient_name': 'колбаса', 'measure': 'гр', 'quantity': 90},
 'лайм': {'ingridient_name': 'лайм', 'measure': 'гр', 'quantity': 60},
 'лимон': {'ingridient_name': 'лимон', 'measure': 'шт', 'quantity': 3},
 'маслины': {'ingridient_name': 'маслины', 'measure': 'гр', 'quantity': 30},
 'огурцы': {'ingridient_name': 'огурцы', 'measure': 'гр', 'quantity': 60},
 'оливки': {'ingridient_name': 'оливки', 'measure': 'гр', 'quantity': 30},
 'оливковое масло': {'ingridient_name': 'оливковое масло',
  'measure': 'мл',
  'quantity': 60},
 'перец': {'ingridient_name': 'перец', 'measure': 'гр', 'quantity': 60},
 'салат': {'ingridient_name': 'салат', 'measure': 'гр', 'quantity': 30},
 'сахар': {'ingridient_name': 'сахар', 'measure': 'гр', 'quantity': 30},
 'сыр': {'ingridient_name': 'сыр', 'measure': 'гр', 'quantity': 210},
 'тесто': {'ingridient_name': 'тесто', 'measure': 'гр', 'quantity': 300},
 'томаты': {'ingridient_name': 'томаты', 'measure': 'гр', 'quantity': 120}}

In [141]:
for shop_list_item in shop_list.values():
    print(f'{shop_list_item["ingridient_name"]}, {shop_list_item["quantity"]}{shop_list_item["measure"]}')

сыр, 210гр
томаты, 120гр
огурцы, 60гр
маслины, 30гр
оливковое масло, 60мл
салат, 30гр
перец, 60гр
колбаса, 90гр
бекон, 90гр
оливки, 30гр
тесто, 300гр
лимон, 3шт
вода, 600мл
сахар, 30гр
лайм, 60гр

In [ ]:
person_count = 3
shop_list = {}
for dish in cook_book:
    for ingridient in cook_book[dish]:
        new_shop_list_item = dict(ingridient)
        new_shop_list_item['quantity'] = ingridient['quantity'] * person_count
        if new_shop_list_item['ingridient_name'] not in shop_list:
            shop_list[new_shop_list_item['ingridient_name']] = new_shop_list_item
        else:
            shop_list[new_shop_list_item['ingridient_name']]['quantity'] += new_shop_list_item['quantity']
shop_list

In [ ]:
for shop_list_item in shop_list.values():
    print(f'{shop_list_item["ingridient_name"]}, {shop_list_item["quantity"]}{shop_list_item["measure"]}')