In [17]:
import pandas as pd

In [18]:
ratings_df = pd.read_csv('F:\\Program\\git_base\\GitHub\\MyRepo\\PYDA_07\\ml-latest-small\\ratings.csv', \
                         sep=',', header=0, encoding='UTF-8')
movie_df = pd.read_csv('F:\\Program\\git_base\\GitHub\\MyRepo\\PYDA_07\\ml-latest-small\\movies.csv', \
                         sep=',', header=0, encoding='UTF-8')
joined_df = movie_df.merge(ratings_df, on='movieId', how='left')
joined_df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,3.0,8.518667e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9.0,4.0,9.386292e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13.0,5.0,1.331380e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.0,9.979383e+08
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19.0,3.0,8.551901e+08

In [19]:
years = []
for element in range(1950, 2011):
    years.append(element)  
# years

In [20]:
def production_year(a):
    for year in years:
        if str(year) in a:
            return year
    return 1900

In [21]:
joined_df['year'] = joined_df['title'].apply(production_year)
joined_df[joined_df['year'] != 1900].head()

,movieId,title,genres,userId,rating,timestamp,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,3.0,8.518667e+08,1995
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9.0,4.0,9.386292e+08,1995
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13.0,5.0,1.331380e+09,1995
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.0,9.979383e+08,1995
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19.0,3.0,8.551901e+08,1995

In [24]:
def groupby_function(joined_df):
    return joined_df.rating.mean()

In [27]:
joined_df.groupby('year').apply(groupby_function).sort_values(ascending=False).head(10)

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
1974    3.978704
1962    3.952446
1950    3.915254
1977    3.905786
1964    3.841492
dtype: float64