In [1]:
import pandas as pd

##### Задание 1  
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
	- оценка 2 и меньше - низкий рейтинг
	- оценка 4 и меньше - средний рейтинг
	- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец *class*

In [2]:
ratings_df = pd.read_csv('F:\\Program\\git_base\\GitHub\\MyRepo\\PYDA_07\\ml-latest-small\\ratings.csv', \
                         sep=',', header=0, encoding='UTF-8')
movie_df = pd.read_csv('F:\\Program\\git_base\\GitHub\\MyRepo\\PYDA_07\\ml-latest-small\\movies.csv', \
                         sep=',', header=0, encoding='UTF-8')
joined_df = movie_df.merge(ratings_df, on='movieId', how='left')

In [3]:
joined_df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,3.0,8.518667e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9.0,4.0,9.386292e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13.0,5.0,1.331380e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.0,9.979383e+08
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19.0,3.0,8.551901e+08

In [4]:
def class_name(a):
    """определяем класс по рейтингу"""
    if a >= 4.5:
        return "Высокий рейтинг"
    elif a > 2.0:
        return "Средний рейтинг"
    elif a <= 2.0:
        return "Низкий рейтинг"
    else:
        return "Нет данных по рейтингу"

In [5]:
joined_df['class'] = joined_df['rating'].apply(class_name)
joined_df.head()

,movieId,title,genres,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,3.0,8.518667e+08,Средний рейтинг
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9.0,4.0,9.386292e+08,Средний рейтинг
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13.0,5.0,1.331380e+09,Высокий рейтинг
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.0,9.979383e+08,Низкий рейтинг
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19.0,3.0,8.551901e+08,Средний рейтинг